
.d-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.d-center p{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.btn-captcha{
  padding: 5px;
  position: absolute;
  bottom: 100px;
  right: 0px;
  cursor: pointer;
  border: none;
  background: transparent !important;
  z-index: 100;
}


/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {    
  content:"";
  grid-area: 1/1;
  --c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes l12 { 
  100%{transform: rotate(.5turn)}
}

  .bg-danger{
    background-color: #f33030;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    padding: 2px 0px;
    width: 100%;
    color: white;
  }
  .bg-success{
    background-color: #0bb613;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    padding: 2px 0px;
    color: white;
    width: 100%;
  }
  .result-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .bg-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .puzzle-container{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: #e9e7e7;
  }

  .full-img{
    width: 100%;
    height: 200px;
  }


 